Repository nutanix-cloud-native/cluster-api-provider-nutanix, pull requests merged in 2025-07, with the labels that each got.

#540 fix(e2e): break capx-feature test into two
  .github/workflows/build-dev.yaml
  test/e2e/categories_test.go
  test/e2e/cluster_upgrade_test.go
  test/e2e/clusterclass_changes_test.go
  test/e2e/csi_test.go
  test/e2e/data_disks_test.go
  test/e2e/gpu_test.go
  test/e2e/multi_nic_test.go
  test/e2e/projects_test.go
Labels: integration-test

#541 fix(test): update e2e tests to kubernertes v1.32 and CAPI 1.9
  .github/workflows/build-dev.yaml
  Makefile
  clusterctl.yaml.tmpl
  metadata.yaml
  test/e2e/clusterctl_upgrade_test.go
  test/e2e/config/nutanix.yaml
  test/e2e/csi_test.go
  test/e2e/data/infrastructure-nutanix/v1.6.1/base/cni-patch.yaml
  test/e2e/data/infrastructure-nutanix/v1.6.1/base/controlplane-vip.yaml
  test/e2e/data/infrastructure-nutanix/v1.6.1/base/crs.yaml
  test/e2e/data/infrastructure-nutanix/v1.6.1/cluster-template/kustomization.yaml
  test/e2e/data/shared/metadata.yaml
Labels: ignore-for-release, integration-test

#547 build(deps): update dockerfile to go1.24 builder
  package/docker/Dockerfile
Labels: ignore-for-release, integration-test

#548 fix(controller): ensure controller does not panic on unknown errors
  controllers/helpers.go
Labels: bug, integration-test

#551 feat(api): Add clusterctl move label to NutanixFailureDomain CRD
  api/v1beta1/nutanixfailuredomain_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_nutanixfailuredomains.yaml
  test/e2e/nutanix_failure_domain_move_test.go
Labels: integration-test

#552 fix(failuredomain): fixes cases with legacy failure domains migration
  .github/workflows/e2e.yaml
  Makefile
  controllers/helpers.go
  controllers/helpers_test.go
  controllers/nutanixmachine_controller.go
  controllers/nutanixmachine_controller_test.go
  templates/failure-domains/failure-domains-patch.yaml
  templates/failure-domains/failure-domains.yaml
  templates/failure-domains/kustomization.yaml
  test/e2e/config/nutanix.yaml
  test/e2e/data/infrastructure-nutanix/v1beta1/cluster-template-failure-domains-migration/failure-domain-nmt.yaml
  test/e2e/data/infrastructure-nutanix/v1beta1/cluster-template-failure-domains-migration/failure-domain-patch.yaml
  test/e2e/data/infrastructure-nutanix/v1beta1/cluster-template-failure-domains-migration/kustomization.yaml
  test/e2e/failure_domains_migration_test.go
  test/e2e/failure_domains_test.go
  test/e2e/test_helpers.go
Labels: ok-to-test, integration-test

#554 fix(api): Ensure failureDomains and controlPlaneFailureDomains are mutually exclusive
  api/v1beta1/nutanixcluster_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_nutanixclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_nutanixclustertemplates.yaml
  controllers/nutanixcluster_controller_test.go
Labels: integration-test
